<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>G App List</title>
</head>
<body class="m-4">
  <div class="d-flex mx-5 pb-3 align-items-center border-bottom justify-content-between" style="border-color: #347cdb!important; border-width: 2px!important;">
    <a href="{% url 'home:home' %}">
      <h1 class="text-center m-0" style="color: #26538d;">G App List</h1>
    </a>
    <div class="d-flex align-items-center ml-4">
      <form action="{% url 'home:search' %}" method="POST">
        {% csrf_token %}
        <div class="d-flex">
          <div class="form-group m-0" style="width: 800px;">
              <input name="search" type="text" class="form-control" placeholder="Cari Aplikasi (contoh: name:Discord;genre:Communication)" maxlength="255">
          </div>
          <div class="d-flex justify-content-center ml-2 my-0">
            <button class="btn btn-primary" id="search_button" style="height: 38px;">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="px-5">
    <h3 style="margin-top: 36px; color: #347cdb;">{{name}}</h3>
    <h5 style="margin-top: 28px;">Informasi mengenai aplikasi (Berdasarkan local RDF store)</h5>
    <div class="" style="display:grid;grid-template-columns: repeat(2, minmax(0, 1fr));">
      {% for key, values in local.items %}
        <div class="border py-2 pl-2">
          <p class="m-0" style="font-weight: bold;">{{key}}</p>
        </div>
        <div class="border py-2 pl-2">
          <p class="m-0">
            {% for value in values %}
              {% if key == 'hasPrice' and value != '0.0' %}
                ${{value}} <br>
              {% else %}
                {{value}} <br>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      {% endfor %}
    </div>
    <h5 style="margin-top: 40px;">Informasi mengenai aplikasi (Berdasarkan Wikidata)</h5>
    {% if wikidata != 0 %}
      <div class="" style="display:grid;grid-template-columns: repeat(2, minmax(0, 1fr));">
        {% for key, values in wikidata.items %}
          <div class="border py-2 pl-2">
            <p class="m-0" style="font-weight: bold; text-transform: capitalize;">{{key}}</p>
          </div>
          <div class="border py-2 pl-2">
            <p class="m-0">
              {% for value in values %}
                {{value}} <br>
              {% endfor %}
            </p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>Tidak ada informasi mengenai aplikasi ini dari Wikidata.</p>
    {% endif %}
  </div>
</body>
</html>