<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>G App List</title>
</head>
<body class="m-4">
  <div class="d-flex justify-content-center flex-column px-5 " style="width: 1200px; height: 100vh;">
    <a href="{% url 'home:home' %}">
      <h1 class="text-center" style="color: #26538d;">G App List</h1>
    </a>
    <div>
      <form class="mt-5" action="{% url 'home:search' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input name="search" type="text" class="form-control" placeholder="Cari Aplikasi (contoh: name:Discord;genre:Communication)" maxlength="255">
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-primary" id="search_button">Search</button>
        </div>
      </form>
      <div class="mt-5">
        <h5>Panduan Melakukan Pencarian:</h5>
        <p>
          Pencarian dapat dengan menuliskan input dengan beberapa keyword(minimal 1 keyword):
          <br>
          - "name:", bagian ini untuk mencari aplikasi-aplikasi dengan nama yang dimasukkan.
          <br>
          - "category:", bagian ini untuk melakukan pencarian aplikasi-aplikasi dengan kategori sesuai input yang dimasukkan.
          <br>
          - "type:", bagian ini untuk melakukan pencarian aplikasi-aplikasi dengan tipe sesuai input yang dimasukkan.
          <br>
          - "genre:", bagian ini untuk melakukan pencarian aplikasi-aplikasi dengan genre sesuai input yang dimasukkan.
        </p>
      </div>
    </div>
  </div>
</body>
</html>